*,*:before,*:after {
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 0;
	font-size: 1.5rem;
	margin: 0;
	padding: 6rem 0;
}

header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: end;
  padding: 1rem 2rem;
  margin-top: -6rem;
}

.search-container {
  grid-column: 1 / span 3;
  height: 4rem;
  position: relative;
  width: 100%;
}

input#search-input {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 1px 7px 17px 0px #00000024;
  border-radius: 2px;
  padding-left: 1rem;
  font-size: 1.2rem;
}

#clear-search-button {
  position: absolute;
  border: none;
  background: white;
  right: 1rem;
  top: 1.2rem;
}

#clear-search-button svg {
  width: 1.4rem;
}

#target-button {
  box-shadow: 5px 5px 12px 0px #00000024;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  background: whitesmoke;
  grid-column: 4 / span 1;
}

#target-button:hover {
  background: #f0f0f0;
}

#target-button:active {
  background: #e3e2e2
}

#target-button svg {
  width: 1rem;
}

.track {
	columns: 2;
}

.track:nth-child(odd) {
	background: #efefef;
}

.playing,
.playing.track {
  background-color: #e2e2e2;
}

.track-name {
	overflow: auto;
	word-wrap: break-word;
  font-size: 0.9rem;
}

.track-album {
	text-align: end;
	overflow: auto;
	word-wrap: break-word;
  font-size: 0.9rem;
}

div[role="link"] {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	cursor: pointer;
}

div[role="link"]:active,
div[role="link"]:focus {
  outline: 1px;
  outline-style: dashed;
  outline-color: #444444;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  box-shadow: 0px -5px 12px 0px #00000024;
	display: grid;
	background: linear-gradient(to right, #7affff, white);
	grid-template-areas:
	'tracktext tracktext prevbutton nextbutton'
	'playhead playhead playhead playhead';
}

#player {
	grid-area: playhead;
	position: relative;
	background: #f1f3f4;
	width: 100%;
}

button#prev-button { grid-area: prevbutton; }
button#prev-button svg {
  width: .6rem;
}

button#next-button { grid-area: nextbutton; }
button#next-button svg {
  width: .6rem;
}

button#prev-button, button#next-button {
	border: none;
	background-color: #f1f3f4;
}

button#prev-button:hover, button#next-button:hover {
	background-color: #e2e2e2;
}

div#current-playing-text {
	grid-area: tracktext;
	padding: 0.7rem;
	font-size: 0.9rem;
	min-height: 50px;
}

@media (min-width: 768px) {
	body {
		font-size: 1rem;
    padding: 5rem 0;
	}

  header {
    margin-top: -5rem;
  }

  .search-container {
    grid-column: 2 / span 2;
    height: unset;
  }

  input#search-input {
    font-size: 1rem;
  }

  #clear-search-button {
    right: 0.2rem;
    top: 0.7rem;
  }

  #clear-search-button svg {
    width: 1rem;
  }

  #target-button {
    width: 40px;
    height: 40px;
  }

	div[role="link"] {
		padding-left: 1rem;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}

	.track-album {
		text-align: start;
    font-size: 1rem;
	}

  .track-name {
    font-size: 1rem;
  }

	footer {
		grid-template-areas:
		'tracktext tracktext tracktext playhead playhead playhead playhead prevbutton nextbutton'
	}

  div#current-playing-text {
    min-height: 30px;
  }

}

