#playlists {
  overflow: auto;
  position: fixed;
  z-index: var(--playlists-index);
  left: 0;
  right: 0;
  bottom: var(--footer-height);
  transition: top .6s, background-color .6s;
  top: calc(calc(100% - var(--footer-height)) - var(--playlists-menu-height));
  padding-bottom: var(--footer-height);
}

#playlists.playlists-visible {
  top: 0;
  background-color: white;
}

menu {
  position: fixed;
  border-bottom: 3px solid #6f73ff;
  z-index: 1;
  transition: bottom .6s, top .6s;
  height: 3rem;
  display: flex;
  align-items: center;
  transition: background .6s;
  justify-content: end;
  width: 100%;
  margin: 0;
  height: var(--playlists-menu-height);
}

.playlists-visible menu {
  background-color: white;
}

@media (min-width: 768px) {
  menu {
    z-index: 1;
    right: 1rem;
    transition: bottom .6s;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    min-width: 368px;
    translate: 0 -3rem;
  }
}

#playlists > ul {
  margin-top: var(--playlists-menu-height);
}

#download-button-playlist,
#clear-button-playlist,
#maximise-button-playlist {
  background-color: transparent;
  box-shadow: none;
  height: unset;
  border-radius: unset;
  transition: opacity .6s;
  transform: translate(0px, 2px);
  padding: 1rem;
}

.playlists-visible #maximise-button-playlist > img.caret-icon {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  #maximise-button-playlist {
    background-color: transparent;
    box-shadow: none;
    height: unset;
    top: -0.5rem;
  }
}
