#router-container {
  top: 0;
  position: fixed;
  height: var(--top-split-height);
  width: 100%;
  background-color: white;
  transition: transform .5s;
  z-index: 6;
}

[data-show-sequencer="true"] #router-container {
  transform: translateY(0%);
}

[data-show-sequencer="false"] #router-container {
  transform: translateY(-108%);
}

#router-container #router {
}
