#samples-container.items {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(10, 47px);
}

#samples-container.items .sample {
  position: relative;
  width: 53px;
  height: 46px;
  overflow: hidden;
}

#samples-container.items .sample:after {
  pointer-events: none;
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 50%;
  z-index: 2;
}

#samples-container.items .sample.trigger:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#samples-container .vis-item.vis-selected {
  border-color: #484848;
}

#samples-container .sample .vis-item.sample-colour-grey {
  box-shadow: inset 0px 0px 0px 2px #cbcbcb73;
}
