#sequencer-container {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  padding: 4rem;
  box-shadow: 0px 4px 20px 5px #00000021;
  height: 100%;
}

.vis-content {
  height: 100%;
}

.vis-odd {
  background: #f4f4f4;
}

.vis-time-axis .vis-grid {
  border: white !important;
}

.vis-custom-time.steptime {
  pointer-events: none !important;
  background-color: #545454;
  width: 1px;
}

.vis-item {
  border-color: transparent;
  border-width: 3px;
}

.vis-item.vis-range {
  border-radius: 5px;
}

.vis-drag-center:before {
  content: '';
  position: absolute;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  border: 3px solid #484848;
  border-radius: 5px;
}
