#sequencer-controls {
  background: white;
  z-index: 1;
}

#sequencer-controls .container {
  height: 70px;
  display: block;
  margin: 0rem 1rem;
  justify-content: center;
  grid-template-columns: repeat(14, auto);
  grid-gap: 6px;
  /* box-shadow: 0px 3px 11px #00000017; */
  /* position: absolute; */
  /* bottom: 0; */
  font-size: .8rem;
}

#save-as {
  margin-left: 4rem;
}

#load-from-file {
  width: 87px;
}
#save-as,
#load-from-file {
  display: none;
}

#pick-sequence {
  margin-left: 4rem;
}

#pick-sequence-number {
  width: 56px;
}

@media (min-width: 768px) {
  #sequencer-controls .container {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    width: 100%;
    /* justify-content: start; */
    align-items: center;
  }
  #save-as,
  #load-from-file {
    display: block;
  }
}
