#track-loader-controls-container {
  width: 100%;
  border-top: 3px solid #6f73ff;
  height: 100%;
  margin-top: 1.3rem;
  background-color: white;
}

#track-loader-controls {
  position: absolute;
  bottom: 1.2rem;
  left: 1rem;
  z-index: 2;
  display: flex;
}

#track-loader-controls img {
  cursor: pointer;
  width: 1.6rem;
  margin-right: 2.7rem;
}

#track-loader:focus-visible {
  outline: none;
}

@media (min-width: 768px) {
  #track-loader-controls {
    bottom: 1.7rem;
  }
  #track-loader-controls img {
    width: 1.2rem;
  }
}

#zoom-in-track-loader {
  content: url(../icons/zoom-in.svg);
}

#zoom-out-track-loader {
  content: url(../icons/zoom-out.svg);
}

[data-selector-active="false"]#italic-track-loader {
  content: url(../icons/italic.svg);
}

[data-selector-active="true"]#italic-track-loader {
  content: url(../icons/italic-active.svg);
}

#play-pause-track-loader {
  width: 1.2rem;
  height: 1.9rem;
}

@media (min-width: 768px) {
  img#play-pause-track-loader {
    width: 0.9rem;
  }
}

[data-track-loader-playing="true"]#play-pause-track-loader {
  content: url(../icons/pause-solid.svg);
}

[data-track-loader-playing="false"]#play-pause-track-loader {
  content: url(../icons/play-solid.svg);
}

[data-show-track-loader="true"][data-searching="true"] #track-list-container {
  margin-top: 15.7rem;
}

@media (min-width: 768px) {
  [data-show-track-loader="true"][data-searching="true"] #track-list-container {
    margin-top: 21rem;
  }
}

#track-loader-loading,
#track-loader {
  height: 350px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem 0 0rem 0;
  z-index: 2;
}

[data-show-sequencer="true"] #track-loader-loading,
[data-show-sequencer="true"] #track-loader {
  top: 0;
  /* bottom: 0; */
  z-index: 2;
}

#track-loader {
  background: white;
  cursor: crosshair;
  /* background: linear-gradient(to right, #6dffb2, #d5ffe9); */
  /* background-color: white; */
  /* border-top: 3px solid #6f73ff; */
  /* box-shadow: 0px 7px 20px 5px #0000000d; */
  transition: transform .5s;
}

#track-loader-background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 346px;
  /* backdrop-filter: blur(13px); */
  box-shadow: 0px -4px 20px #00000047;
  transition: transform .5s;
  background: white;
}

@media (min-width: 768px) {
  #track-loader {
    /* box-shadow: 0px 7px 20px 5px #00000021; */
  }
}

[data-show-track-loader="true"] #track-loader-background,
[data-show-track-loader="true"] #track-loader {
  transform: translateY(0%);
}

[data-show-track-loader="false"] #track-loader-background,
[data-show-track-loader="false"] #track-loader {
  transform: translateY(-100%);
}

#track-loader-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 1rem;
  grid-gap: 0;
  align-items: center;
  z-index: 3;
}

#track-loader-header div:first-of-type {
  grid-column: 2 / span 3;
  height: 4rem;
  position: relative;
  width: 100%;
}

[data-show-track-loader="false"] #loop-region {
  display: none;
}

#loop-region:hover {
  cursor: pointer;
}

#loop-region[data-loop-region="true"] {
  background-color: #8d90ff;
}

@media (min-width: 768px) {
  #track-loader-header {
    padding: 1rem 2rem;
  }
  #track-loader-header div:first-of-type {
    grid-column: 2 / span 2;
    height: 2.5rem;
  }
}

#track-loader-loading {
  transition: background-color .5s;
  text-align: center;
}

#track-loader-loading img {
  /* margin-top: 25px; */
  /* margin-bottom: 25px; */
  height: 100px;
}

#track-loader-loading[data-track-loading="false"] {
  background-color: transparent;
  z-index: 0;
}

#track-loader-loading[data-track-loading="false"] img {
  display: none;
}

#track-loader-loading[data-track-loading="true"] {
  cursor: progress;
  z-index: 3;
  /* background-color: #0000008c; */
  padding-bottom: 64px;
}

#zoomview-container {
  width:100%;
  height:100px;
}

#overview-container {
  /* border-bottom: 3px solid #6f73ff; */
  /* padding-bottom: 3.2rem; */
  width:100%;
  height:30px;
}

#track-loader-loading[data-track-loading="true"] + #zoomview-container,
#track-loader-loading[data-track-loading="true"] + #zoomview-container + #overview-container {
  opacity: 0;
}

#close-track-loader {
  width: 1rem;
  position: absolute;
  right: 2.1rem;
  bottom: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

[data-show-track-loader="false"] #close-track-loader {
  transform: rotate(180deg);
}
