:root {
  --top-split-height: 350px;
  --brand: #6f73ff;
  --brand-lighter: #9497ff;
  --button-neutral-colour: #f0f0f0;
  --green-gradient: linear-gradient(to right, #6dffb2, #d5ffe9);
}

@media (min-width: 768px) {
  :root {
    --top-split-height: 320px;
  }
}

