:root {
  --top-split-height: 306px;
  --brand: #6f73ff;
  --brand-lighter: #9497ff;
  --button-neutral-colour: #f0f0f0;
  --green-gradient: linear-gradient(to right, #6dffb2, #d5ffe9);
  --transition-time: .5s;
  --black: #353535;
  --header-height-desktop: 82px;
  --header-height-mobile: 105.59px;
}

@media (min-width: 768px) {
  :root {
    --top-split-height: 320px;
  }
}

