#track-list {
  background-color: var(--tab-background);
  padding-top: 7rem;
  padding-bottom: 12rem;
  height: 100vh;
  overflow: auto;
}

#track-list .trackname-col {
  width: 50%;
}

#track-list .album-col {
  width: 50%;
  text-align: end;
}

.track-artist-tab.track,
.track-album-tab.track {
  background: var(--tab-background);
  border: none;
  height: 3rem;
  padding-top: 1rem;
  box-shadow: var(--tab-shadow);
}

div[role="link"] {
  cursor: pointer;
  padding: 1px;
}

.track {
  background-color: white;
  display: grid;
  overflow: hidden;
}

.track-artist-tab.track .track-name-album-container,
.track-album-tab.track .track-name-album-container,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-album,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-name,
.track-artist-tab.track .track-name {
  height: unset;
}

.track-tab .track-name-album-container,
.track-tab .playlist-icon,
.track-tab+.track-non-tab .playlist-icon,
.track-tab+.track-non-tab .track-name-album-container,
.track-selected  .track-tab .track-name-album-container+.playlist-icon,
.track-selected .track-tab .track-name-album-container:focus+.playlist-icon {
  border-top: none;
  border-top: 1px solid transparent;
  padding-top: 1px;
}

.playlist-icon {
  border-radius: 5px;
  height: 55px;
  transform: translate(2px, 5px);
  width: 70px;
  margin-left: 2px;
  transition: outline-color 0.1s;
  outline-color: var(--brand-transparent);
}

.track-selected {
  outline-color: #ffffff00;
}

.playlist-icon:active {
  outline: 2px solid var(--brand);
}

.track-selected .playlist-icon:active {
  outline-color: white;
}

.track-selected .playlist-icon {
  height: 55px;
}

.track-name-album-container {
  order: 1;
}

.track-name-album-container {
  display: grid;
  /* grid-template-columns: auto auto; */
  border-top: 1px solid var(--track-border);
}

.track-artist-tab.track .track-name-album-container,
.track-album-tab.track .track-name-album-container,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-album,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-name,
.track-artist-tab.track .track-name {
  height: unset;
}

body[data-playlist-mode="false"] .track-name {
  padding-left: 1rem;
}

.track-tab .track-name {
  order: 1;
}

.track-name {
  word-wrap: break-word;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 4rem;
}

.track-album-tab.track .track-album,
.track-artist-tab.track .track-album {
  background: hsl(0 0% 99% / 1);
  border-radius: 29px 29px 0 0;
  justify-content: end;
  margin-left: -50%;
  box-shadow: 0px 0px 6px 0px #00000026;
  color: var(--black);
  padding: 0 1.6rem 0 0;
  margin-bottom: -1px;
}

.track-artist-tab.track .track-name-album-container,
.track-album-tab.track .track-name-album-container,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-album,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-name,
.track-artist-tab.track .track-name {
  height: unset;
}

.track-tab .track-album {
  order: 2;
}

.track-album {
  text-align: end;
  word-wrap: break-word;
  font-size: 0.7rem;
  padding: 1.5rem 1rem 1.5rem 0rem;
  overflow: hidden;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.album {
  width: 230px;
}

div[role="link"] {
  cursor: pointer;
  padding: 1px;
}

.track {
  display: grid;
  overflow: hidden;
}

.add-to-playlist-icon {
  content: url(/icons/plus-solid.svg);
}

.track-selected .add-to-playlist-icon {
  content: url(/icons/plus-solid-white.svg);
}

.remove-from-playlist-icon {
  content: url(/icons/minus-solid.svg);
}

.track-selected .remove-from-playlist-icon {
  content: url(/icons/minus-solid-white.svg);
}

img.add-to-playlist-icon,
img.remove-from-playlist-icon {
  height:1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 1.2rem 1.8rem 1.2rem 1.8rem;
}

.track-selected .track-name-album-container + .playlist-icon img
.track-selected .track-name-album-container:focus + .playlist-icon img {
  content: url(/icons/plus-solid-white.svg);
  margin-left: -4px;
}

.track-selected .track-name-album-container:focus + .playlist-icon img
.track-name-album-container:focus + .playlist-icon img {
  margin-left: -12px;
}

.track-selected img
.downloaded img {
  height: 1rem;
  content: url(/icons/plus-solid-white.svg);
}

.track-album-tab.track img
.track-artist-tab.track img
.track-album-tab.track .track-name .name,
.track-artist-tab.track .track-name .name {
  display: none;
}

.track-selected {
  background: var(--brand);
  outline: none;
  padding-top: 0 !important;
  color: white;
}

.track-selected .track-name-album-container {
  border-top: 1px solid var(--brand);
  border-bottom: 1px solid var(--brand);
}

.track-selected + .track > .track-name-album-container {
  border-top: none;
}
