.sample-colour-0 { background-color: hsl(359 100% 50%)!important; }
.sample-colour-0-light { background-color: hsl(359 100% 85%)!important; }
.sample-colour-1 { background-color: hsl(356 100% 50%)!important; }
.sample-colour-1-light { background-color: hsl(356 100% 85%)!important; }
.sample-colour-2 { background-color: hsl(353 100% 50%)!important; }
.sample-colour-2-light { background-color: hsl(353 100% 85%)!important; }
.sample-colour-3 { background-color: hsl(350 100% 50%)!important; }
.sample-colour-3-light { background-color: hsl(350 100% 85%)!important; }
.sample-colour-4 { background-color: hsl(347 100% 50%)!important; }
.sample-colour-4-light { background-color: hsl(347 100% 85%)!important; }
.sample-colour-5 { background-color: hsl(344 100% 50%)!important; }
.sample-colour-5-light { background-color: hsl(344 100% 85%)!important; }
.sample-colour-6 { background-color: hsl(341 100% 50%)!important; }
.sample-colour-6-light { background-color: hsl(341 100% 85%)!important; }
.sample-colour-7 { background-color: hsl(338 100% 50%)!important; }
.sample-colour-7-light { background-color: hsl(338 100% 85%)!important; }
.sample-colour-8 { background-color: hsl(335 100% 50%)!important; }
.sample-colour-8-light { background-color: hsl(335 100% 85%)!important; }
.sample-colour-9 { background-color: hsl(332 100% 50%)!important; }
.sample-colour-9-light { background-color: hsl(332 100% 85%)!important; }
.sample-colour-10 { background-color: hsl(329 100% 50%)!important; }
.sample-colour-10-light { background-color: hsl(329 100% 85%)!important; }
.sample-colour-11 { background-color: hsl(326 100% 50%)!important; }
.sample-colour-11-light { background-color: hsl(326 100% 85%)!important; }
.sample-colour-12 { background-color: hsl(323 100% 50%)!important; }
.sample-colour-12-light { background-color: hsl(323 100% 85%)!important; }
.sample-colour-13 { background-color: hsl(320 100% 50%)!important; }
.sample-colour-13-light { background-color: hsl(320 100% 85%)!important; }
.sample-colour-14 { background-color: hsl(317 100% 50%)!important; }
.sample-colour-14-light { background-color: hsl(317 100% 85%)!important; }
.sample-colour-15 { background-color: hsl(314 100% 50%)!important; }
.sample-colour-15-light { background-color: hsl(314 100% 85%)!important; }
.sample-colour-16 { background-color: hsl(311 100% 50%)!important; }
.sample-colour-16-light { background-color: hsl(311 100% 85%)!important; }
.sample-colour-17 { background-color: hsl(308 100% 50%)!important; }
.sample-colour-17-light { background-color: hsl(308 100% 85%)!important; }
.sample-colour-18 { background-color: hsl(305 100% 50%)!important; }
.sample-colour-18-light { background-color: hsl(305 100% 85%)!important; }
.sample-colour-19 { background-color: hsl(302 100% 50%)!important; }
.sample-colour-19-light { background-color: hsl(302 100% 85%)!important; }
.sample-colour-20 { background-color: hsl(299 100% 50%)!important; }
.sample-colour-20-light { background-color: hsl(299 100% 85%)!important; }
.sample-colour-21 { background-color: hsl(296 100% 50%)!important; }
.sample-colour-21-light { background-color: hsl(296 100% 85%)!important; }
.sample-colour-22 { background-color: hsl(293 100% 50%)!important; }
.sample-colour-22-light { background-color: hsl(293 100% 85%)!important; }
.sample-colour-23 { background-color: hsl(290 100% 50%)!important; }
.sample-colour-23-light { background-color: hsl(290 100% 85%)!important; }
.sample-colour-24 { background-color: hsl(287 100% 50%)!important; }
.sample-colour-24-light { background-color: hsl(287 100% 85%)!important; }
.sample-colour-25 { background-color: hsl(284 100% 50%)!important; }
.sample-colour-25-light { background-color: hsl(284 100% 85%)!important; }
.sample-colour-26 { background-color: hsl(281 100% 50%)!important; }
.sample-colour-26-light { background-color: hsl(281 100% 85%)!important; }
.sample-colour-27 { background-color: hsl(278 100% 50%)!important; }
.sample-colour-27-light { background-color: hsl(278 100% 85%)!important; }
.sample-colour-28 { background-color: hsl(275 100% 50%)!important; }
.sample-colour-28-light { background-color: hsl(275 100% 85%)!important; }
.sample-colour-29 { background-color: hsl(272 100% 50%)!important; }
.sample-colour-29-light { background-color: hsl(272 100% 85%)!important; }
.sample-colour-30 { background-color: hsl(269 100% 50%)!important; }
.sample-colour-30-light { background-color: hsl(269 100% 85%)!important; }
.sample-colour-31 { background-color: hsl(266 100% 50%)!important; }
.sample-colour-31-light { background-color: hsl(266 100% 85%)!important; }
.sample-colour-32 { background-color: hsl(263 100% 50%)!important; }
.sample-colour-32-light { background-color: hsl(263 100% 85%)!important; }
.sample-colour-33 { background-color: hsl(260 100% 50%)!important; }
.sample-colour-33-light { background-color: hsl(260 100% 85%)!important; }
.sample-colour-34 { background-color: hsl(257 100% 50%)!important; }
.sample-colour-34-light { background-color: hsl(257 100% 85%)!important; }
.sample-colour-35 { background-color: hsl(254 100% 50%)!important; }
.sample-colour-35-light { background-color: hsl(254 100% 85%)!important; }
.sample-colour-36 { background-color: hsl(251 100% 50%)!important; }
.sample-colour-36-light { background-color: hsl(251 100% 85%)!important; }
.sample-colour-37 { background-color: hsl(248 100% 50%)!important; }
.sample-colour-37-light { background-color: hsl(248 100% 85%)!important; }
.sample-colour-38 { background-color: hsl(245 100% 50%)!important; }
.sample-colour-38-light { background-color: hsl(245 100% 85%)!important; }
.sample-colour-39 { background-color: hsl(242 100% 50%)!important; }
.sample-colour-39-light { background-color: hsl(242 100% 85%)!important; }
.sample-colour-40 { background-color: hsl(239 100% 50%)!important; }
.sample-colour-40-light { background-color: hsl(239 100% 85%)!important; }
.sample-colour-41 { background-color: hsl(236 100% 50%)!important; }
.sample-colour-41-light { background-color: hsl(236 100% 85%)!important; }
.sample-colour-42 { background-color: hsl(233 100% 50%)!important; }
.sample-colour-42-light { background-color: hsl(233 100% 85%)!important; }
.sample-colour-43 { background-color: hsl(230 100% 50%)!important; }
.sample-colour-43-light { background-color: hsl(230 100% 85%)!important; }
.sample-colour-44 { background-color: hsl(227 100% 50%)!important; }
.sample-colour-44-light { background-color: hsl(227 100% 85%)!important; }
.sample-colour-45 { background-color: hsl(224 100% 50%)!important; }
.sample-colour-45-light { background-color: hsl(224 100% 85%)!important; }
.sample-colour-46 { background-color: hsl(221 100% 50%)!important; }
.sample-colour-46-light { background-color: hsl(221 100% 85%)!important; }
.sample-colour-47 { background-color: hsl(218 100% 50%)!important; }
.sample-colour-47-light { background-color: hsl(218 100% 85%)!important; }
.sample-colour-48 { background-color: hsl(215 100% 50%)!important; }
.sample-colour-48-light { background-color: hsl(215 100% 85%)!important; }
.sample-colour-grey { background-color: hsl(0deg 0% 86.26%) !important; }
