*,*:before,*:after {
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 0;
	font-size: 1.5rem;
	margin: 0;
	padding: 6rem 0;
  color: #353535;
}

header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 1rem 1rem;
  margin-top: -6rem;
  grid-gap: 0;
  align-items: center;
  z-index: 2;
}

.open-upload-modal-button-container {
  display: none;
}

/* .open-upload-modal-button { */
/*   display: none; */
/* } */

.drag-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ededed;
  background-color: white;
}

#selection-container {
  background-color: #6f73ff;
}

#selection-container .drag-container {
  display: none;
}

img.svg {
  width: .5rem;
}

.drag-container img.svg.grip {
  content: url(icons/grip-vertical-solid.svg);
  user-select: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

/* .track:focus .drag-container img.svg.grip, */
.downloaded .drag-container img.svg.grip {
  content: url(icons/grip-vertical-solid-white.svg);
}

.search-container {
  grid-column: 2 / span 3;
  height: 4rem;
  position: relative;
  width: 100%;
}

input#search-input {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 1px 7px 17px 0px #00000024;
  border-radius: 2px;
  padding-left: 1rem;
  font-size: 1.2rem;
  user-select: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

input#search-input:focus {
  user-select: text;
  -webkit-user-select: text; /* Safari */        
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text;
}

#clear-search-button {
  position: absolute;
  border: none;
  background: white;
  right: 1rem;
  top: 1.2rem;
}

#clear-search-button svg {
  width: 1.4rem;
}

#playlist-container {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: top .6s, height .6s, padding .6s, box-shadow .6s, background .6s;
  display: flex;
  align-items: start;
  bottom: 0;

  /* This setting prevents the drag polyfill from making this container any wider */
  width: 100vw;
}

#playlist-container[data-playlist-minimised="true"] {
  background-color: transparent;
  height: 152px;
  overflow-y: hidden;
  padding-bottom: 0;
  box-shadow: 1px 7px 17px 0px #00000000;
}

#playlist-container[data-playlist-minimised="false"] {
  background-color: white;
  box-shadow: 1px 7px 17px 0px #00000024;
  position: fixed;
  top: 3rem;
  bottom: 6.5rem;
  left: 0;
  right: 0;
  z-index: 2;
}

#playlist {
  background: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 9rem;
}

#playlist-container[data-playlist-minimised="true"] #playlist {
  display: none;
}

#playlist .track .playlist-placeholder {
  color: grey;
}

#playlist .playlist-name {
  width: 100%;
  border: none;
  font-size: 0.8rem;
  border-bottom: 3px solid #6f73ff;
  transition: margin-left .6s;
  /* height: 2.1rem; */
}

#playlist-container[data-playlist-minimised="true"] #playlist .playlist-name {
  margin-left: 0;
}

#playlist-container[data-playlist-minimised="false"] #playlist .playlist-name {
  margin-left: 6rem;
}

.dragover {
  /* background: #dedede !important; */
  border-bottom: 3px solid #6f73ff;
}

#playlist .track {
  transition: background .3s;
}

button.button-circle {
  box-shadow: 5px 5px 12px 0px #00000024;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  background: whitesmoke;
}

button.button-circle-transparent {
  background-color: transparent;
  box-shadow: none;
}

.mode-button-playlist:hover {
  background: #f0f0f0;
}

.mode-button-playlist:active {
  background: #e3e2e2
}

.button-circle svg {
  width: 1rem;
}

body[data-playlist-mode="true"] .mode-button-playlist {
  background: #91f0bd;
}

.button-playlist-container {
  border-bottom: 3px solid #6f73ff;
  z-index: 1;
  position: fixed;
  transition: bottom .6s, top .6s;
  height: 3rem;
  display: flex;
  align-items: center;
  transition: background .6s;
  justify-content: end;
  width: 100%;
}

.button-playlist-container.playlist-adding-track {
  border-bottom: 3px solid #f6d804;
}

#playlist-container[data-playlist-minimised="true"] .button-playlist-container {
  background-color: transparent;
  translate: 0;
}

#playlist-container[data-playlist-minimised="false"] .button-playlist-container {
  background-color: white;
  translate: 0 -3rem;
}

#download-button-playlist,
#clear-button-playlist,
#maximise-button-playlist {
  background-color: transparent;
  box-shadow: none;
  height: unset;
  border-radius: unset;
  transition: opacity .6s;
}

#playlist-container[data-playlist-minimised="true"] #selected-playlist,
#playlist-container[data-playlist-minimised="true"] #open-upload-modal-button-playlist,
#playlist-container[data-playlist-minimised="true"] #download-button-playlist,
#playlist-container[data-playlist-minimised="true"] #clear-button-playlist {
  opacity: 0;
}

#playlist-container[data-playlist-minimised="false"] #selected-playlist,
#playlist-container[data-playlist-minimised="false"] #open-upload-modal-button-playlist,
#playlist-container[data-playlist-minimised="false"] #download-button-playlist,
#playlist-container[data-playlist-minimised="false"] #clear-button-playlist {
  opacity: 1;
}

#clear-button-playlist {
  text-decoration: underline;
}

#download-button-playlist {
  padding: 7px 0px;
  border-radius: 2px;
  color: white;
  margin: 0 1rem;
  transition: background .6s;
  width: 5rem;
}

body[data-downloading="true"] #download-button-playlist {
  background-color: #d2d2d2;
}

body[data-downloading="false"] #download-button-playlist {
  background-color: #000000c2;
}

body[data-uploading="true"] .open-upload-modal-button svg,
body[data-downloading="true"] #download {
  display: none;
}

body[data-uploading="false"] .upload-progress,
body[data-downloading="false"] .download-progress {
  display: none;
}

.upload-progress img,
.download-progress img {
  height: 1rem;
  animation-name: spin;
  animation-duration: 1600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
  -webkit-animation-duration: 1600ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1600ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1600ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
  transition: rotate(3600deg);
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

body[data-searching="true"] #page-1 .track:first-child {
  border-bottom: none;
}

body[data-searching="true"] #page-1 .track:first-child .track-name-album-container {
  outline: 1px;
  outline-style: solid;
  outline-color: #f6d804;
  font-weight: 900;
}

body[data-searching="true"] #page-1 .track.downloaded:first-child .track-name-album-container {
  outline-color: #6f73ff;
}

.track {
  display: grid;
  overflow: hidden;
}

body[data-searching="true"] #page-1 .track:first-child.track-adding-track .track-name-album-container {
  outline: none;
}

.downloaded {
  position: relative;
}

.downloaded:after {
  content: url(./icons/cloud-arrow-down-solid.svg);
  min-width: 15px;
  position: absolute;
  left: 0.2rem;
  top: 0.3rem;
}

#selection-container .downloaded:after {
  content: url(./icons/cloud-arrow-down-solid-lighter.svg);
}

body[data-playlist-mode="true"] .track {
  grid-template-columns: 4rem auto;
}

.track-name-album-container {
  display: grid;
  grid-template-columns: auto 50%;
  border-top: 1px solid #ededed;
}

div[data-playlist="true"] .track-name-album-container {
  grid-template-columns: auto;
}

/* .play-ready, */
.track:focus-visible,
.track:focus {
  outline: 2px solid black;
  margin: 0 0.1rem !important;
  z-index: 1;
}

.track:focus-visible .track-name,
.track:focus .track-name {
  padding-left: 0.9rem;
}

/* .play-ready, */
#selection-container .track:focus,
#selection-container .track:focus-visible {
  outline: 2px solid white;
}

.playing .track-name::before {
  content: url(./icons/play-solid.svg);
  min-width: 9px;
  margin-right: 0.7rem;
}

#playlist #selection-container .track .track-name::before,
#playlist #selection-container .playing.track:focus .track-name::before,
#selection-container .playing .track-name-album-container .track-name::before,
#selection-container .playing .track-name-album-container:focus .track-name::before {
  content: url(./icons/play-solid-white.svg);
}

.downloaded.playing .track-name::before {
  content: url(./icons/play-solid-white.svg);
}

body[data-playlist-mode="false"] #playlist .track {
  grid-template-columns: auto;
}

body[data-playlist-mode="true"] #playlist .track {
  grid-template-columns: 4rem auto;
}

.add-to-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff4d;
  border-top: 1px solid #ededed;
}

#playlist .add-to-playlist {
  border-bottom: 1px solid #ededed;
  border-top: none;
}

.track-tab .track-name-album-container,
.track-tab .add-to-playlist,
.track-tab + .track-non-tab .add-to-playlist,
.track-tab + .track-non-tab .track-name-album-container,
#selection-container .track-tab .track-name-album-container + .add-to-playlist,
#selection-container .track-tab .track-name-album-container:focus + .add-to-playlist {
  border-top: none;
  border-top: 1px solid transparent;
  padding-top: 1px;
}

#selection-container .track-tab .track-name-album-container + .add-to-playlist,
#selection-container .track-tab .track-name-album-container:focus + .add-to-playlist {
  background: unset;
}

#selection-container .track-tab .track-name-album-container,
#selection-container .track-tab .track-name-album-container:focus {
  background: unset;
  border-top: 1px solid transparent;
  padding-top: 1px;
}

body[data-playlist-mode="false"] .add-to-playlist {
  display: none;
}

.add-to-playlist-icon {
  height:1rem;
  content: url(public/icons/plus-solid.svg);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#selection-container .track-name-album-container + .add-to-playlist .add-to-playlist-icon,
#selection-container .track-name-album-container:focus + .add-to-playlist .add-to-playlist-icon {
  content: url(public/icons/plus-solid-white.svg);
}

.downloaded .add-to-playlist-icon {
  height:1rem;
  content: url(public/icons/plus-solid-white.svg);
}

.remove-from-playlist-icon {
  content: url(public/icons/minus-solid.svg);
  height: 0.8rem;
}

#playlist .track:focus .remove-from-playlist-icon,
.downloaded .remove-from-playlist-icon {
  content: url(public/icons/minus-solid-white.svg);
  height: 0.8rem;
}

.track-name {
  word-wrap: break-word;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 4rem;
}

body[data-playlist-mode="false"] .track-name {
  padding-left: 1rem;
}

body[data-playlist-mode="true"] .track-name {
  padding-left: 0rem;
}

.track-name .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

body[data-playlist-mode="true"] .track-name {
  grid-template-columns: 3rem auto;
}

.track-album {
  text-align: end;
  word-wrap: break-word;
  font-size: 0.7rem;
  padding: 1.5rem 1rem 1.5rem 0rem;
  overflow: hidden;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

div[role="link"] {
  cursor: pointer;
  padding: 1px;
}

#playlist div[role="link"] {
  margin: 0 1px;
}

.track-name-album-container {
  order: 1;
}

#playlist .track-name {
  border-bottom: 1px solid #ededed;
}

#playlist #selection-container + .track .track-name {
  padding-bottom: 1px;
  border-bottom: none;
}

#playlist #selection-container .track-name {
  border-bottom: none;
}

#selection-container .track-name-album-container:active,
#selection-container .track-name-album-container + .add-to-playlist,
#selection-container .track-name-album-container:focus + .add-to-playlist,
#selection-container .track-name-album-container,
#selection-container .track-name-album-container:focus {
  background: #6f73ff;
  border-top: 1px solid #6f73ff;
  outline: none;
  padding-top: 0;
  color: white;
}

#playlist #selection-container .track-name .name::selection,
#selection-container .track-name-album-container .album::selection,
#selection-container .track-name-album-container .name::selection {
  background-color: #6f73ff;
  color: white;
}

#playlist #selection-container .track-name:focus,
#playlist #selection-container .track-name {
  background-color: #6f73ff;
  color: white;
  outline: none;
}

#playlist .track:focus .name {
  margin-left: 1px;
}

#selection-container {
  /* outline-color: #f6d804; */
  /* outline-style: dashed; */
  /* outline-width: 2px; */
  z-index: 1;
  /* margin: 0px 3px; */
}

.track-tab .track-name-album-container .album::selection,
.track-tab .track-name-album-container .name::selection {
  background-color: unset;
  color: unset;
}

#selection-container .track-tab + .track-non-tab .track-name-album-container + .add-to-playlist,
#selection-container .track-tab + .track-non-tab .track-name-album-container:focus + .add-to-playlist {
  border-top: none;
}

#playlist #selection-container + .track-name,
#selection-container + .track-non-tab .track-name-album-container {
  margin-top: 1px;
  border-top: none;
}

.track-tab + #selection-container {
  margin-top: 1px;
}

#menu {
  position: absolute;
  right: 0;
  translate: -14px -74px;
  font-size: 0.5rem;
  background: white;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: 1px 1px 6px #00000040;
  overflow: hidden;
  z-index: 1;
  color: black;
}

#playlist #menu {
  translate: -11px -10px;
}

#menu .menu-activate {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: auto;
  min-width: 1.9rem;
  text-align: end;
  height: 1.7rem;
  padding: 0.6rem 0.7rem 0rem 0.7rem;
}

#menu ul.menu-items {
  overflow: hidden;
  /* padding: 0.2rem 0.5rem 0.1rem 0.6rem; */
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.2rem;
  color: #555555;
  font-weight: 500;
  user-select: none;
  transition: height 0.2s, width 0s;
  height: 70px;
  width: 77px;
  font-size: 0.7rem;
}

#menu .menu-items li:nth-of-type(odd) {
  border-bottom: 1px solid #ededed;
}

#menu .menu-items li {
  text-align: right;
  padding-right: 0.7rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

#menu .menu-items li:hover {
  background-color: #6f73ff;
  color: white;
}

#menu .menu-items li:active {
  background-color: unset;
  color: unset;
}

#menu .menu-items.closed {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.track-tab .track-name {
  order: 1;
}

.track-tab .track-album {
  order: 2;
}

.track-artist-tab.track,
.track-album-tab.track {
  background: hsl(0 0% 98% / 1);
  border: none;
  height: 3rem;
  padding-top: 1rem;
  box-shadow: inset 0px 0.6px 5px 0px hsl(0deg 0% 0% / 6%);
}

.track-artist-tab.track .track-name-album-container,
.track-album-tab.track .track-name-album-container,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-album,
.track-artist-tab.track .track-album,
.track-album-tab.track .track-name,
.track-artist-tab.track .track-name {
  height: unset;
}

.track-album-tab.track .track-album,
.track-artist-tab.track .track-album {
  background: hsl(0 0% 99% / 1);
  border-radius: 29px 29px 0 0;
  justify-content: end;
  margin-left: -50%;
  box-shadow: 0px 0px 6px 0px #00000026;
  color: #35353582;
  padding: 0 2rem 0 0;
  margin-bottom: -1px;
}

.track-album-tab.track .track-album .album,
.track-artist-tab.track .track-album .album {
  white-space: nowrap;
  padding-left: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
}

.track-album-tab.track .add-to-playlist-icon,
.track-artist-tab.track .add-to-playlist-icon,
.track-album-tab.track .track-name .name,
.track-artist-tab.track .track-name .name {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px -5px 12px 0px #00000024;
  display: grid;
  background: linear-gradient(to right, #6dffb2, white);
  grid-template-columns: 30% auto 80px 80px;
  grid-template-rows: 52px 52px;
  user-select: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
  z-index: 3;
}

#player {
  position: relative;
  background: #f1f3f4;
  width: 100%;
  grid-column: 1/5;
  grid-row: 2;
}

button#prev-button svg {
  width: .6rem;
}

button#next-button svg {
  width: .6rem;
}

button#prev-button {
  grid-column: 4/5;
}

button#next-button {
  grid-column: 5/6;
}

button#prev-button, button#next-button {
  border: none;
  background-color: #f1f3f4;
  width: 80px;
  grid-column: unset;
}

button#prev-button:hover, button#next-button:hover {
  background-color: #e2e2e2;
}

div#current-playing-text {
  padding: 0.7rem;
  font-size: 0.9rem;
  height: 50px;
  grid-column: 1/3;
}

/* body[data-playlist-mode="true"] { */
/*   overflow: hidden; */
/* } */

#upload-modal[data-visible="false"] {
  display: none;
}

#upload-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000024;
}

#upload-modal form {
  display: grid;
  grid-template-rows: 4rem 67% 2rem 2rem;
  width: 100%;
  height: 100%;
  grid-gap: 1rem;
  box-shadow: 1px 7px 17px 0px #00000024;
  padding: 2rem;
  background-color: white;
  margin: 0;
  position: relative;
}

#upload-files-list {
  overflow: auto;
  line-height: 1.5rem;
  font-weight: 600;
  border: 1px solid #ededed;
  border-radius: 5px;
}

#upload-files-list ol {
  margin: 0;
  overflow: hidden;
  padding: 0;
  line-height: 2rem;
}

#upload-files-list ol li {
  border-bottom: 1px solid #ededed;
  list-style: none;
  padding-left: 1rem;
  font-size: 0.8rem;
}

#close-modal-button {
  position: absolute;
  right: 0;
  top: 0;
}

#close-modal-button svg {
  width: 0.7rem;
}

#upload-modal input[type="submit"] {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

#upload-modal .choose-files-button {
  position: relative;
  background-color: #efefef;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 13.333px;
  font-weight: 400;
  text-align: center;
}

#upload-modal .choose-files-button input[type="file"] {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#upload-modal input[type="submit"]:active,
#upload-modal .choose-files-button:active {
  background-color: #e0e0e0;
}

#playlist #tracklist-add-to-playlist-menu-item {
  display: none;
}

#track-list-container {
  padding-bottom: 11rem;
}

#track-list-container #playlist-remove-from-playlist-menu-item {
  display: none;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
    padding: 5rem 0;
  }

  header {
    margin-top: -5rem;
    padding: 1rem 2rem;
  }

  .search-container {
    grid-column: 2 / span 2;
    height: 2.5rem;
  }

  button.button-circle {
    width: 50px;
    height: 50px;
  }

  .open-upload-modal-button-container {
    display: flex;
    justify-content: end;
  }

  #upload-modal form {
    grid-template-rows: 4rem 80% 2rem 2rem;
  }

  .open-upload-modal-button {
    display: block;
  }

  input#search-input {
    font-size: 1rem;
  }

  #clear-search-button {
    right: 0.2rem;
    top: 0.7rem;
  }

  #clear-search-button svg {
    width: 1rem;
  }

  .mode-button-playlist {
    width: 40px;
    height: 40px;
  }

  body[data-playlist-mode="true"] .track-name {
    grid-template-columns: 2rem auto;
  }

  .track-name {
    font-size: 1rem;
    align-content: center;
    height: 3rem;
  }

  .track-album {
    text-align: start;
    font-size: 1rem;
    height: 3rem;
    display: grid;
    align-content: center;
    justify-content: start;
  }

  #playlist-container {
    left: auto;
    bottom: 4.5rem;
    right: 1rem;
    width: 30%;
    min-width: 368px;
    position: fixed;
    overflow-y: auto;
    transition: height .6s, padding .6s, box-shadow .6s, background .6s;
    margin-left: 0;
    bottom: 4.3rem;
    box-shadow: 1px 7px 17px 0px #00000024;
    top: unset;
  }

  #playlist-container[data-playlist-minimised="true"] {
    background-color: transparent;
    height: 0;
    padding-bottom: 0;
    box-shadow: 1px 7px 17px 0px #00000000;
    bottom: 54px;
  }

  #playlist-container[data-playlist-minimised="false"] {
    background-color: white;
    height: 70%;
    /* padding-bottom: 5rem; */
    box-shadow: 1px 7px 17px 0px #00000024;
    bottom: 73px;
    top: unset;
    left: unset;
    right: 1rem;
  }

  #playlist-container[data-playlist-minimised="false"] #playlist .playlist-name {
    margin-left: 0;
  }

  body[data-playlist-mode="false"] #playlist,
  #playlist {
    border-radius: 2px;
    display: flex;
    flex-direction: column-reverse;
  }

  #playlist .track-name {
    font-size: 0.8rem;
    height: 3rem;
  }

  #playlist .track-album {
    display: none;
    /*     text-align: right; */
    /* font-size: 0.7rem; */
  }

  #menu {
    translate: -9px -61px;
  }

  .track-tab .track-name {
    order: 2;
  }

  .track-tab .track-album {
    order: 1;
  }


  body[data-playlist-minimised="false"] #menu {
    translate: -50vw -61px;
  }

  #playlist #menu {
    translate: -16px -8px;
  }

  .button-playlist-container {
    z-index: 1;
    right: 1rem;
    position: fixed;
    transition: bottom .6s;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    min-width: 368px;
    translate: 0 -3rem;
  }

  #playlist-container[data-playlist-minimised="true"] .button-playlist-container {
    translate: 0 -3rem;
  }

  #maximise-button-playlist {
    background-color: transparent;
    box-shadow: none;
    height: unset;

    top: -0.5rem;
  }

  footer {
    grid-template-columns: 30% auto 80px 80px;
    grid-template-rows: unset;
  }

  #player {
    grid-column: unset;
    grid-row: unset;
  }

  div#current-playing-text {
    grid-row: unset;
    min-height: 30px;
    grid-column: unset;
  }

  #upload-modal form {
    width: 50%;
    max-height: 96%;
    margin: unset;
  }
}
