*,*:before,*:after {
  box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 0;
	font-size: 1.5rem;
	margin: 0;
	padding: 6rem 0;
  color: #353535;
}

header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: end;
  padding: 1rem 1rem;
  margin-top: -6rem;
  grid-gap: 0;
}

.drag-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.svg {
  width: .5rem;
}

.search-container {
  grid-column: 2 / span 3;
  height: 4rem;
  position: relative;
  width: 100%;
}

input#search-input {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: 1px 7px 17px 0px #00000024;
  border-radius: 2px;
  padding-left: 1rem;
  font-size: 1.2rem;
}

#clear-search-button {
  position: absolute;
  border: none;
  background: white;
  right: 1rem;
  top: 1.2rem;
}

#clear-search-button svg {
  width: 1.4rem;
}

#playlist-container {
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: height .6s, padding .6s, box-shadow .6s, background .6s;
  display: flex;
  align-items: start;
  bottom: 0;

  /* This setting prevents the drag polyfill from making this container any wider */
  width: 100vw;
}

#playlist-container[data-playlist-minimised="true"] {
  background-color: transparent;
  height: 152px;
  overflow-y: hidden;
  padding-bottom: 0;
  box-shadow: 1px 7px 17px 0px #00000000;
}

#playlist-container[data-playlist-minimised="false"] {
  background-color: white;
  height: 100%;
  /* padding-bottom: 5rem; */
  box-shadow: 1px 7px 17px 0px #00000024;
}

#playlist-name-container {
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  display: none;
}

#playlist {
  background: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 45px;
  /* height: 100%; */
  justify-content: flex-end;
  width: 100%;
}

#playlist .track .playlist-placeholder {
  color: grey;
}

#playlist .playlist-name {
  width: 100%;
  border: none;
  font-size: 0.8rem;
  border-bottom: 3px solid #5ed0cf;
  transition: margin-left .6s;
  /* height: 2.1rem; */
}

#playlist-container[data-playlist-minimised="true"] #playlist .playlist-name {
  margin-left: 0;
}

#playlist-container[data-playlist-minimised="false"] #playlist .playlist-name {
  margin-left: 6rem;
}

.dragover {
  background: #dedede !important;
}

#playlist .track {
  transition: background .3s;
}

button.button-circle {
  box-shadow: 5px 5px 12px 0px #00000024;
  border-radius: 50%;
  border: none;
  width: 60px;
  height: 60px;
  background: whitesmoke;
}

.mode-button-playlist {
  grid-column: 4 / span 1;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.mode-button-playlist:hover {
  background: #f0f0f0;
}

.mode-button-playlist:active {
  background: #e3e2e2
}

.button-circle svg {
  width: 1rem;
}

body[data-playlist-mode="true"] .mode-button-playlist {
  background: #5ed0cf;
}

.button-playlist-container {
  border-bottom: 3px solid #5ed0cf;
  z-index: 1;
  position: fixed;
  transition: bottom .6s;
  height: 3rem;
  display: flex;
  align-items: center;
  transition: background .6s;
  justify-content: end;
  width: 100%;
}

#playlist-container[data-playlist-minimised="true"] .button-playlist-container {
  background-color: transparent;
}

#playlist-container[data-playlist-minimised="false"] .button-playlist-container {
  background-color: white;
}

#clear-button-playlist,
#maximise-button-playlist {
  background-color: transparent;
  box-shadow: none;
  height: unset;
}

#clear-button-playlist {
  text-decoration: underline;
  transition: opacity .6s;
}

#playlist-container[data-playlist-minimised="true"] #clear-button-playlist {
  opacity: 1;
}

#playlist-container[data-playlist-minimised="true"] #clear-button-playlist {
  opacity: 0;
}

.track {
  display: grid;
  overflow: hidden;
  border-bottom: 1px solid #ededed;
}

body[data-playlist-mode="false"] .track {
  grid-template-columns: 65% auto;
}

body[data-playlist-mode="true"] .track {
  grid-template-columns: 4rem 60% auto;
}

.playing.track {
  background-color: #ededed;
}

body[data-playlist-mode="false"] #playlist .track {
  grid-template-columns: auto 3rem;
}

body[data-playlist-mode="true"] #playlist .track {
  grid-template-columns: 4rem auto 3rem;
}

.add-to-playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff4d;
}

body[data-playlist-mode="false"] .add-to-playlist {
  display: none;
}

.track-name {
  word-wrap: break-word;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  height: 4rem;
}

body[data-playlist-mode="false"] .track-name {
  padding-left: 1rem;
}

body[data-playlist-mode="true"] .track-name {
  padding-left: 0rem;
}

.track-name .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

body[data-playlist-mode="true"] .track-name {
  grid-template-columns: 3rem auto;
}

.track-album {
  text-align: end;
  word-wrap: break-word;
  font-size: 0.7rem;
  padding: 1.5rem 1rem 1.5rem 0rem;
  overflow: hidden;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

div[role="link"] {
  cursor: pointer;
}

div[role="link"]:active,
div[role="link"]:focus {
  outline: 1px;
  outline-style: dashed;
  outline-color: #444444;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  box-shadow: 0px -5px 12px 0px #00000024;
  display: grid;
  background: linear-gradient(to right, #7affff, white);
  grid-template-areas:
  'tracktext tracktext prevbutton nextbutton'
  'playhead playhead playhead playhead';
}

#player {
  grid-area: playhead;
  position: relative;
  background: #f1f3f4;
  width: 100%;
}

button#prev-button { grid-area: prevbutton; }
button#prev-button svg {
  width: .6rem;
}

button#next-button { grid-area: nextbutton; }
button#next-button svg {
  width: .6rem;
}

button#prev-button, button#next-button {
  border: none;
  background-color: #f1f3f4;
}

button#prev-button:hover, button#next-button:hover {
  background-color: #e2e2e2;
}

div#current-playing-text {
  grid-area: tracktext;
  padding: 0.7rem;
  font-size: 0.9rem;
  height: 50px;
}

/* body[data-playlist-mode="true"] { */
/*   overflow: hidden; */
/* } */

@media (min-width: 768px) {
  body {
    font-size: 1rem;
    padding: 5rem 0;
  }

  header {
    margin-top: -5rem;
    grid-gap: 2rem;
    padding: 1rem 2rem;
  }

  .search-container {
    grid-column: 2 / span 2;
    height: 2.5rem;
  }

  button.button-circle {
    width: 50px;
    height: 50px;
  }

  input#search-input {
    font-size: 1rem;
  }

  #clear-search-button {
    right: 0.2rem;
    top: 0.7rem;
  }

  #clear-search-button svg {
    width: 1rem;
  }

  .mode-button-playlist {
    width: 40px;
    height: 40px;
  }

  .track {
    grid-template-columns: 50% 50%;
  }

  body[data-playlist-mode="true"] .track-name {
    grid-template-columns: 2rem auto;
  }

  .track-name {
    font-size: 1rem;
    align-content: center;
    height: 3rem;
  }

  .track-album {
    text-align: start;
    font-size: 1rem;
    height: 3rem;
    display: grid;
    align-content: center;
    justify-content: start;
  }

  #playlist-container {
    left: auto;
    bottom: 4.5rem;
    right: 1rem;
    width: 30%;
    position: fixed;
    overflow: scroll;
    transition: height .6s, padding .6s, box-shadow .6s, background .6s;
    margin-left: 0;
    bottom: 4.3rem;
    box-shadow: 1px 7px 17px 0px #00000024;
    top: unset;
  }

  #playlist-container[data-playlist-minimised="true"] {
    background-color: transparent;
    height: 33px;
    padding-bottom: 0;
    box-shadow: 1px 7px 17px 0px #00000000;
  }

  #playlist-container[data-playlist-minimised="false"] {
    background-color: white;
    height: 70%;
    /* padding-bottom: 5rem; */
    box-shadow: 1px 7px 17px 0px #00000024;
  }

  #playlist-container[data-playlist-minimised="false"] #playlist .playlist-name {
    margin-left: 0;
  }

  body[data-playlist-mode="false"] #playlist,
  #playlist {
    border-radius: 2px;
    display: flex;
    flex-direction: column-reverse;
  }

  #playlist .track-name {
    font-size: 0.8rem;
    height: 3rem;
  }

  #playlist .track-album {
    display: none;
    /*     text-align: right; */
    /* font-size: 0.7rem; */
  }

  .button-playlist-container {
    z-index: 1;
    right: 1rem;
    position: fixed;
    transition: bottom .6s;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
  }

  #maximise-button-playlist {
    background-color: transparent;
    box-shadow: none;
    height: unset;

    top: -0.5rem;
  }

  footer {
    grid-template-areas:
    'tracktext tracktext tracktext playhead playhead playhead playhead prevbutton nextbutton'
  }

  div#current-playing-text {
    min-height: 30px;
  }

}

